<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://aibooru.online/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Stealth metadata</title>
</head>
<body>
<form action="/" method="post" enctype="multipart/form-data">
    <div class="upload">
        <label for="files" id="files">
            <input type="file" name="files" multiple id="file-upload">
            <div>
                <span id="file-label">Choose file or drag images here</span> <br>
                <span class="hint" id="filenames">No file chosen</span>
            </div>
        </label>
        <div class="url">
            <p>— or —</p>
            <input type="text" name="urls" placeholder="Paste URLs here">
        </div>
    </div>
    <div class="print_metadata_checkbox">
        <input type="checkbox" id="checkbox" name="checkbox" value="checkbox">
        <label for="checkbox"> Only print here the metadata, instead of downloading readded prompt</label>
    </div>
    <input type="submit" value="SUBMIT" class="submit">
    <span class="hint" style="margin-top: 10px;">If you submit images with no metadata in transparency it will save the metadata in transparency</span>
    <span class="hint"> If you submit images with metadata in transparency it will save the metadata in the regular png headers</span>
</form>
{% if errors %}
    <div id="error-list">
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}


{% for index, file in file_list %}
    <div class="output">
        <textarea id="content-{{ index }}" name="content-{{ index }}">{{ file.text_content }}</textarea><br/>
        <div>
            <span class="hint" id="filename">{{ file.name }}</span>
            <a id="copy" onclick="copyToClipboard('{{ index }}');" href="javascript://" title="Copy metadata"></a>
        </div>
    </div>
{% endfor %}
<div style="height: 20px;"></div>
<script>
    window.addEventListener('load', (event) => {
        let list = document.getElementsByTagName('textarea');
        for (let i = 0; i < list.length; i++) {
            list[i].style.height = "";
            list[i].style.height = (list[i].scrollHeight) + "px";
        }
    });
    document.getElementById("file-upload").addEventListener("change", function() {
        let span = document.getElementById("filenames");
        span.innerText = null;
        let files = document.getElementById("file-upload").files;
            for (let i = 0; i < files.length; i++) {
            span.innerText += files[i].name + ", ";
        }
    });

    function copyToClipboard(index) {
        var copyText = document.getElementById("content-"+index);
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }
</script>
</body>
</html>
